In [2]:
import sqlite3
import pandas as pd
import yfinance as yf

#### Data Model Implementation (25 points)

In [ ]:
# The data is cleaned, normalized, and standardized prior to modeling (5 points)
msft = yf.Ticker('MSFT')
hist = msft.history('1y')
hist[:5]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-18 00:00:00-04:00,325.357807,327.938442,323.928532,326.608429,16834200,0.0,0.0
2023-09-19 00:00:00-04:00,323.739973,326.935984,322.092337,326.201477,16505900,0.0,0.0
2023-09-20 00:00:00-04:00,327.055125,327.134516,318.122176,318.380219,21436500,0.0,0.0
2023-09-21 00:00:00-04:00,316.881498,322.926123,312.653225,317.149475,35529500,0.0,0.0
2023-09-22 00:00:00-04:00,318.926111,319.055147,313.794615,314.648224,21447900,0.0,0.0

In [ ]:
# dropped Volume, Dividends, and Stock Splits
df = hist.drop(['Volume','Dividends','Stock Splits'],axis=1)

# changing date format
df.index = df.index.strftime('%Y-%m-%d %a')

# Dropping the first two rows to start on a Monday
df = df[2:]

In [ ]:
# create and connect to sqlite database stock_db
db = sqlite3.connect('stock_db.sqlite')

In [ ]:
# Create or replace tesla table and load df data to it.
df.to_sql('msft',db, if_exists='replace')

249